* {
	width: 100%;
	height: 100%;
	background-color:#fe99ef;
}

header {
	width: 100%;
	height: 10%;
	margin-top: 3%;
}

h1 {
	display: fixed;
	width: 100%;
	height: 80%;
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	text-align: center;
}

body {
	position: absolute;
	max-width: 100%;
	min-width: 100%;
	margin: auto;
}

div {
	text-align: center;
	max-height: 85%;
	top: 0px;
}

#misto {
	position: relative;
	max-width: 600px;
	max-height: 600px;
	left: auto;
	right: auto;
	top: 10%;
}

.rodape {
	width: 100%;
	height: 100px;
	position: relative;
	top: -90px;
	font-size: 20px;
}

footer {
	width: 100%;
	max-width: 100%;
	height: 25px;
	position: absolute;
	text-align: center;
	color: black;
	text-decoration: none;
}

footer ul a{
	margin: 0 auto;
	text-align: center;
	color: black;
	top: 70%;
}

footer ul a:hover {
	text-decoration: underline;
	color: #fa0c6f;
}
